<!DOCTYPE html>
{% extends 'testApp/base.html' %}

{% block body_block %}
<h1>{{beer.name}}Beer Information</h1>
<table border="2">
    <thead>
        <th>Beer Name</th>
        <th>Deatails</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
    {% for beer in beer_list %}
    <tr>

        <td>{{beer.name|title}}</td>
        <td><a href="/home/{{beer.id}}">Details</a></td>
        <td><a href="/update/{{beer.id}}">Update</a></td>
        <td><a href="/delete/{{beer.id}}">Delete</a></td>

    </tr>
    {% endfor %}
</table><br><br><br>
<a href="/create/" class='btn btn-primary btn-lg'>
    Do You Want to Insert New Beer</a> 
    {% endblock %}