<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data here Filtered</h1>

    {% for data in data_list %}
    <ul>
        <li>{{data.name | upper}}</li>
        <li>{{data.subject | upper}}</li>
        <li>{{data.dept | upper}}</li>
        <li>{{data.date | upper}}</li>

    </ul>
    {% endfor %}

</body>
</html>