<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
        h2{
            color: blueviolet;
        }
    </style>
</head>
<body>
    <h1>Hello This Template is 2nd hero of Django</h1>
    <h2>This response is coming from Template file</h2><hr>
    <h2>Server Date and Time is:{{date_msg}}</h2>
</body>
</html>