<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    
    <link rel="stylesheet" href="{% static 'css/demo1.css' %}">


</head>
<body>
    <h1>{{head_msg}}</h1><hr>

    <ul>
        <li>{{msg1}}</li>
        <li>{{msg2}}</li>
        <li>{{msg3}}</li>

    </ul>

    <img src="{% static 'images/pika.jpg'%}" alt="">
    <img src="{% static 'images/marsh.jpg'%}" alt="">
</body>
</html>