<!DOCTYPE html>
{%extends 'testApp/base.html'%}

{%block body_block%}
<div class="jumbotron ">
    <div class="container">

        <h1>Welcome to exam</h1>
        <h2>Rules to write exam</h2>
  <ul>
      <li>Rule1:-Only one exam you can write</li>
      <li>Rule1:-Only one exam you can write</li>
      <li>Rule1:-Only one exam you can write</li>
      <li>Rule1:-Only one exam you can write</li>
      <li>Rule1:-Only one exam you can write</li>
      <li>Rule1:-Only one exam you can write</li>
  </ul>

    </div>

    
</div>
  
{% endblock %}
