<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: khaki;
        }
        h1{
            background: yellow;
            color: red;
        }
        h2{
            color: white;
            background: royalblue;
        }
    </style>
</head>
<body>
    <h1>Hello...{{guest}}..{{msg}}</h1><hr>
    <h2>The current Date and Time is :{{date}}</h2>
</body>
</html>