<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/movie.css' %}">
</head>
<body>
    
    <div class="container">
    <div class="jumbotron">
        <h1>Movies Here</h1>
        <p>Updated Movies Here...</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movies</a>
            <a class="btn btn-primary btn-lg" href="/listmovie" role="button">List Movies</a>
        
        </p>
      </div>
    </div>
</body>
</html>